*{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image: url('/logo');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #C1CBCE;
}

button{
    padding: 5px;
    margin-top: 20px;
    height: 100px;
    width: 300px;
    font-size: 40px;
}

#button-section{
    display: flex;
    justify-content: space-evenly;
}

#fast-btn{

}

#sit-btn{
    
}

#Fancy-Foods{

}

p{
    text-align: center;
    font-size: 60px;
}

#home{
    display: flex;
    justify-content: right;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.hide{
    display: none;
}

#spin-again{
    height: 40px;
    width: 100px;
    font-size: 15px;
}

#direction{
    height: 40px;
    width: 80px;
    font-size: 15px;
}

#back{
    font-size: 20px;
    color: aliceblue;
}