*{
    padding: 0;
    margin: 0;
   font-family: 'Roboto Condensed', sans-serif;
}

header{
    width: 100vw;
    background-color: #800020;
    display: flex;
    align-items: center;
    justify-content: row;
    justify-content: space-between;
}

h1{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    width: 100px;
}

img{
    height: 80px;
    width: 70px;
}

nav{
    display: flex;
    flex-direction: row-reverse ;
    align-items: center;
    margin-right: 10px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

h2{
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.popup {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
}

h3{
    text-align: center;
}

.got-it{
    text-align: center;
}

.inst{
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 0px;
}

p{
    margin: 10px;
    margin-top: 3px;
    font-size: 17px;
    text-align: left;
}

form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    width: 600px;
    height: 400px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    border-color: #800020;
    border-radius: 12px;
}

label{
    font-size: 32px;
}

#restaurant-input{
    width: 190px;
    height: 20px;
}

#type{
    width: 190px;
    height: 25px;
}

h4{
    font-size: 20px;
}

button{
    display: block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: aliceblue;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

button:hover {background-color: #800020}

button:active {
  background-color: #800020;
  box-shadow: 0 5px aliceblue;
  transform: translateY(4px);
}

#add-restaurant{
    width: 200px;
    height: 50px;
    font-size: 20px;
}

#get-restaurant{
    font-size: 50px;
    text-align: center;
}

.hide{
    display: none;
}

#spin-again{
    height: 70px;
    width: 90px;
    font-size: 15px;
}

#direction{
    width: 110px;
    height: 60px;
    font-size: 15px;
    margin-top: 20px;
}

#back{
    font-size: 20px;
    color: #800020;
}